@media (min-width: 900px) {
  section {
    min-width: 850px;
  }
}
@media (max-width: 900px) and (min-width: 500px) {
  .logo {
    width: 400px;
  }

  section {
    min-width: 400px;
  }
}
@media (max-width: 500px) {
  .logo {
    width: 300px;
  }

  section {
    min-width: 300px;
  }
}

body {
  margin: 0;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  display: none;
}

/* NAV */
nav {
  display: flex;
  justify-content: center;

  position: sticky;
  top: 0;
  z-index: 10;

  max-height: 60px;
}
nav.home {
  background: #000;
}

/* HOME */
.start {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background: linear-gradient(
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(54, 0, 83),
    rgb(87, 0, 134),
    rgb(112, 0, 172)
  );
}
.logo {
  transition: opacity 0.3s;

  object-fit: contain;
  content: url(/images/logo.png);
}
.logo.nav {
  opacity: 0;

  height: 60px;
}
.drop {
  display: flex;
  justify-content: center;
}
.drop .icon {
  position: fixed;
  bottom: 15px;
  width: 80px;

  content: url(/icons/drop.svg);

  animation: hover 5s infinite;
}
.drop .icon:hover {
  cursor: pointer;
}
@keyframes hover {
  0% {
    bottom: 15px;
  }
  50% {
    bottom: 30px;
  }
  100% {
    bottom: 15px;
  }
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 10vw;
  padding-bottom: 5vw;
}

section {
  min-height: 300px;

  margin-top: 10vh;
  padding: 15px;

  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
