:root {
  --primary: #984af7;
  --secondary: rgb(145, 145, 255);
}
* {
  box-sizing: border-box;
}
html {
  position: relative;
  height: 100%;
  width: 100%;

  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: fredoka;
  src: url(/fonts/FredokaOne-Regular.otf);
}
h1 {
  font-family: fredoka;
  font-weight: unset;
  font-size: 40px;

  background: var(--primary);
  background: linear-gradient(
    45deg,
    rgba(119, 118, 255, 1) 0%,
    rgba(174, 44, 241, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;

  padding: 5px;

  list-style-type: none;
}
nav .background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;

  background: var(--primary);
  background: linear-gradient(
    45deg,
    rgba(119, 118, 255, 1) 0%,
    rgba(174, 44, 241, 1) 100%
  );
  opacity: 0;
  transition: opacity 0.2s;
}
nav .background.alwaysvisible {
  opacity: 1;
}
nav > div {
  display: flex;
}
nav .tabs a {
  color: #fff;
  text-decoration: none;

  padding: 5px 15px;
  border-radius: 10px;

  transition: background 0.2s;
}
nav .tabs a.selected {
  color: var(--secondary);
  background: #fff;

  pointer-events: none;
}
nav .tabs a:hover {
  text-decoration: underline;
  background: var(--secondary);
}
nav .tabs .maptab {
  display: none;
}
nav .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  font-family: fredoka;
  color: #fff;
  font-size: 30px;

  transition: opacity 0.2s;
}
nav .logo.hidden {
  opacity: 0;
}
nav .socials img {
  height: 25px;
}
nav .socials a {
  display: flex;
  align-items: center;
  padding: 3px;
}

/* HOME */
section.home {
  justify-content: center;
  height: calc(100vh + 50px);
}
section.home,
section.server {
  background: var(--primary);
  background: linear-gradient(
    45deg,
    rgba(119, 118, 255, 1) 0%,
    rgba(174, 44, 241, 1) 100%
  );
}
section.home .logo {
  font-family: fredoka;
  font-size: 100px;
  color: #fff;

  transition: opacity 0.2s, font-size 0.2s;
}
@media (max-width: 900px) and (min-width: 500px) { 
  section.home .logo {
    font-size: 70px;
  }
}
@media (max-width: 500px) {
  section.home .logo {
    font-size: 10vw;
  }
}

/* CONTENT */
section.content {
  flex-direction: column;
}
section.content .mask {
  width: 120%;
}
section.content > div {
  width: 600px;
  margin-bottom: 350px;
}

/* SERVER */
section.server {
  height: 100vh;
  color: #fff;
}
section.server .server-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 1;
  padding: 25px;

  border-radius: 15px;

  color: #fff;
}
section.server .server-info .ip {
  font-family: fredoka;
  transition: font-size 0.2s;
}
@media (min-width: 900px) {
  section.server .server-info .ip {
    font-size: 50px;
  }
}
@media (max-width: 900px) and (min-width: 500px) {
  section.server .server-info .ip {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  section.server .server-info .ip {
    font-size: 25px;
  }
}
section.server .server-info .offline {
  color: #ff6d6d;
}
section.server .server-info .faq a {
  color: #fff;
}
section.server .server-info .faq a:hover {
  text-decoration: underline;
}
section.server .server-info .status {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.server .server-info .status .software,
section.server .server-info .status .motd {
  display: flex;
}
section.server .server-info .status .software > b,
section.server .server-info .status .motd > span {
  margin-left: 5px;
  margin-right: 5px;
}

/* DISCORD */
.discord {
  display: flex;
  position: fixed;
  margin-left: 10px;
  z-index: 2;

  color: #fff;
}
@media (min-width: 900px) {
  .discord {
    bottom: 22px;
    right: 100px;
  }
  .discord .info {
    align-items: flex-end;
  }
}
@media (max-width: 900px) and (min-width: 500px) {
  .discord {
    bottom: 22px;
    right: 100px;
  }
  .discord .info {
    align-items: flex-end;
  }
}
@media (max-width: 500px) {
  .discord {
    bottom: 10px;
    right: 80px;
    font-size: 12px;
  }
  .discord .info {
    align-items: flex-start;
  }
}
.discord .info {
  display: flex;
  flex-direction: column;
}
.discord .arrow {
  margin-left: 10px;
  content: url(/icons/arrow.svg);

  animation: point 2.5s infinite;
}
@keyframes point {
  0% {
    transform: unset;
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: unset;
  }
}

/* FAQ */
section.item-list {
  flex-direction: column;
}
section.item-list a {
  color: var(--primary);
  text-decoration: none;
}
section.item-list a:hover {
  text-decoration: underline;
}
section.item-list .context {
  width: 100%;
}
@media (min-width: 600px) {
  section.item-list .context {
    width: 600px;
  }
}
section.item-list .item {
  display: flex;
  flex-direction: column;

  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;

  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
section.item-list .item a:hover {
  text-decoration: underline;
}
section.item-list .item .title {
  font-family: inherit;
  font-size: 20px;
}
.item-list-title {
  margin: 30px;
  margin-top: 10vh;
  margin-bottom: 15px;
}
