body {
  margin: 0;
}

.start {
  height: 100vh;

  background-color: #000;
}
.start .container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}
.logo {
  object-fit: contain;
  content: url(/images/logo.png);
}
